/* Created by Withee Poositasai
 * p5.js Web Editor - https://editor.p5js.org/Th1nkK1D/sketches/Xv7vjo71c
 * Github repository - https://github.com/Th1nkK1D/circular-space-invader
 * Play on the web - https://th1nkk1d.github.io/circular-space-invader
 */

html,
body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  place-items: center;
  background-color: rgb(21, 21, 21);
}

canvas {
  display: block;
  /* Scale to fit window */
  width: min(100vw, 100vh) !important;
  height: min(100vw, 100vh) !important;
}
